alifedata_phyloinformatics_convert==0.19.3
backstrip==0.2.4
biopython==1.85
black==22.10.0
Deprecated==1.2.13
hstrat==1.20.4
downstream==1.14.3
interval_search==0.5.2
IPython==7.31.1
isort==5.12.0
joblib==1.4.2
joinem==0.9.3
matplotlib==3.9.2
more_itertools==9.1.0
nb-clean==2.4.0
nbqa==1.9.0
nbconvert==7.6.0
nbmetalog==0.2.6
numba==0.61.0
numpy==2.1.2
opytional==0.1.0
pandas==2.2.3
pecking==0.2.1
phastSim==0.0.6
polars==1.26.0
pytest==7.2.2
pyarrow==16.1.0
pytest-xdist==3.2.1
ruff==0.0.260
scipy==1.14.1
seaborn==0.13.2
python-slugify==8.0.4
teeplot==1.4.2
tqdm==4.64.1
uv==0.4.20
watermark==2.4.3

# https://github.com/sphinx-doc/sphinx/issues/10291
astropy<7.0.0
Jinja2<3.1

covasim==3.1.6
